.center {
  text-align: center;
  border: 3px solid block;
}

.h2 {
  margin-top: 2rem;
}

.table_container {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  max-height: 60vh;
  overflow-y: scroll;
  text-align: center;
}

.table {
  border-collapse: collapse;
  cursor: pointer;
}

.th {
  padding: 0.5em;
  border: 1px solid black;
}

.td {
  padding: 0.5em;
  border: 1px solid black;
  min-width: 5rem;
}

.tr:nth-child(2n + 1) {
  background-color: white;
}

.tr:hover td:not(:last-child):not(:nth-last-child(2)) {
  background-color: grey;
  color: white;
}

#search {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
}

.product_container {
  display: block;
  margin-top: 2rem;
}

.form_product {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  border: 1px solid black;
  width: 50%;
  margin: auto;
  padding: 1rem;
}
