.container{
    color: white;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color:rgb(33, 87, 190);
    border-bottom: 1px solid black;
    padding: 1em;
    user-select: none;
}

.container_sous_menu{
    display: flex;
    list-style-type: none
}

.container_sous_menu>li{
    margin-right: 50px;
    cursor: pointer;
    user-select: none;
    font-size: 1.5rem;
    flex-shrink: 0;

}

.container_sous_menu > li > span {
    width: 1.2em; /* ajustez la largeur en fonction de la taille de l'icône */
    height: 1.2em; /* ajustez la hauteur en fonction de la taille de l'icône */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5em; /* ajustez la marge en fonction de vos préférences */
  }
  

.container_sous_menu>li:hover{
    color: black;
    text-decoration:underline;
}

.logo{
    border-radius: 10px;
}
