.main {
  min-height: 100vh;
}

.array_container {
  margin-top: 5rem;
}

.vignette {
  border: 1px solid #000;
  margin-left: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  display: inline;
  padding: 1rem;
}

.vignette:hover {
  background-color: white;
}
